@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Open Sans", sans-serif;
  --tomato: #f75843ff;
  --moonstone: #15bbd1ff;
  --citrine: #dcc112ff;
  --seasalt: rgba(250, 250, 250, 0.959);
  /* background-image: url("../media/img/Campus.jpg");
  background-size: cover;
  background-repeat: no-repeat; */
}

/* The next 3 css selectors enable footer at bottom but not sticky */
body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-flow: column;
  background-color: var(--seasalt);
}

main {
  flex-grow: 1;
}

body > * {
  padding: 0.5em;
  border: none;
  margin: none;
}

.page-header {
  /* position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99; */
  /* position: fixed; */
  /* top: 0; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: linear-gradient(
    90deg,
    rgba(247, 88, 67, 1) 7%,
    rgba(21, 187, 209, 1) 53%,
    rgba(250, 250, 250, 1) 90%
  );
  font-size: 24px;
}

.page-header a,
li {
  text-decoration: none;
  list-style: none;
  color: #000;
}

.logo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
}

#bargaining-diary-icon {
  margin-left: 10px;
  text-decoration: none;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid;
  background-color: var(--citrine);
  animation: pulse 1.2s ease infinite;
}

#bargaining-diary-icon:hover {
  background-color: var(--tomato);
}

#logo-image {
  height: 100px;
}

.menu {
  display: flex;
  /* justify-content: space-between;
  align-items: center; */
  gap: 2.5em;
  font-size: 18px;
}

.menu li:hover {
  background-color: var(--citrine);
  border-radius: 5px;
  /* transition: 0.3s ease; */
  text-decoration: underline;
}

.menu li {
  padding: 5px 14px;
}

/* DROPDOWN MENU */
.about-us {
  position: relative;
}

.dropdown {
  background-color: var(--moonstone);
  padding: 1em;
  position: absolute; /*WITH RESPECT TO PARENT*/
  display: none;
  border-radius: 5px;
  top: 45px;
}

.dropdown li + li {
  margin-top: 10px;
}

.dropdown li {
  padding: 0.5em 1em;
  width: 8em;
  text-align: left;
}

.dropdown li:hover {
  background-color: var(--citrine);
}

.about-us:hover .dropdown {
  display: block;
}

/* RESPONSIVE NAVBAR MENU STARTS */

/* CHECKBOX HACK */

input[type="checkbox"] {
  display: none;
}

/* HAMBURGER MENU */
.hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
}

/* APPLYING MEDIA QUERIES */
@media (max-width: 768px) {
  .menu {
    display: none;
    position: absolute;
    background-color: teal;
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
  }

  .menu li:hover {
    display: inline-block;
    background-color: #4c9e9e;
    transition: 0.3s ease;
  }

  .menu li + li {
    margin-top: 12px;
  }

  input[type="checkbox"]:checked ~ .menu {
    display: block;
  }

  .hamburger {
    display: block;
  }

  .dropdown {
    left: 50%;
    top: 30px;
    transform: translateX(35%);
  }

  .dropdown li:hover {
    background-color: #4c9e9e;
  }
}

#join-us-btn {
  padding: 10px;
  border-radius: 5px;
  width: 8em;
  background-color: var(--citrine);
  font-size: 18px;
  font-weight: bold;
  border: none;
}
#join-us-btn:hover {
  background-color: var(--tomato);
  transition: 0.3s ease;
}

/* Footer styling */
.footer {
  background: linear-gradient(
    90deg,
    rgba(247, 88, 67, 1) 7%,
    rgba(21, 187, 209, 1) 53%
  );
  /* color: #fefefe; */
  /* position: fixed; */
  width: 100%;
  /* bottom: 0; */
  /* left: 0; */
}

.footer .heading {
  text-align: center;
  color: var(--tomato);
  max-width: 1010px;
  width: 90%;
  text-transform: uppercase;
  margin: 0 auto;
  margin-bottom: 1.5rem;
}

.footer .content-footer {
  display: flex;
  justify-content: space-evenly;
  margin: 1.5rem;
}

.footer .content-footer p {
  margin-bottom: 1.3rem;
  color: #000;
}

.footer .content-footer a {
  text-decoration: none;
  color: #000;
}

.footer .content-footer a:hover {
  border-bottom: 1px solid #971717;
}

.footer .content-footer h4 {
  margin-bottom: 1.3rem;
  font-size: 19px;
  color: var(--citrine);
  font-weight: bold;
}

footer {
  text-align: center;
  margin-bottom: 2rem;
}

/* footer hr {
  margin: 2rem 0;
} */

@media (max-width: 767px) {
  .footer .content-footer {
    display: flex;
    flex-direction: column;
    font-size: 12px;
  }

  .content-footer {
    position: unset;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .footer .content-footer,
  .footer {
    font-size: 14px;
  }
}

@media (orientation: landscape) and (max-height: 500px) {
  .footer {
    position: unset;
  }
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #000;
  margin: 5px;
  padding: 5px;
}

.hero-heading {
  /* background-color: var(--moonstone); */
  margin: 5px;
  padding: 10px;
  color: var(--tomato);
  font-size: 48px;
}
.hero-sub-heading {
  color: var(--tomato);
  font-style: italic;
  font-size: 22px;
  margin-bottom: 5px;
  padding-bottom: 5px;
}
.hero-container > h3 {
  margin: 10px;
  padding: 5px;
  font-size: 36px;
  color: var(--moonstone);
}

.hero-container .aaup-mission {
  display: flex;
  flex-direction: row;
  gap: 5em;
  align-items: center;
  justify-content: center;
}

/* .aaup-mission .show {
  border-radius: 100%;
  position: relative;
  padding: 40px;
  display: flex;
  float: left;
  margin: 10px;
  background: var(--moonstone);
  align-items: center;
  color: var(--citrine);
  font-size: 22px;
  font-weight: bold;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  position: relative;
  text-decoration: underline;
}
.aaup-mission p::before {
  content: "";
  display: block;
  padding-top: 100%;
}

.hide {
  display: none;
}

.show:hover + .hide {
  display: block;
  position: absolute;
} */

/* .hero-container > .hero-container-bg-image {
  position: absolute;
  z-index: -1;
  opacity: 0.5;
  width: 100%;
  max-height: 75%;
} */

.calender-event-open-btn {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
}

.calender-event-open-btn {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
  writing-mode: vertical-rl;
  text-orientation: upright;
  text-decoration: none;
  background-color: #000;
  cursor: pointer;
}

.calender-event-open-btn:hover {
  background-color: #454545;
}

.calender-events-overlay-section {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  height: 100%;
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(0, 0, 0); /* Black fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-calender-content {
  position: relative;
  top: 25%; /* 25% from the top */
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

.overlay-iframe {
  padding: 8px;
  /* text-decoration: none; */
  /* font-size: 36px; */
  /* color: #818181; */
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */
  width: 75%;
  margin: 0 auto;
}

/* Position the close button (top right corner) */
.calender-events-overlay-section .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

.aaup-officers-parent-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.aaup-officers-section-heading {
  margin: 10px;
  padding: 5px;
  font-size: 36px;
  color: var(--tomato);
}

.aaup-ec-members-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* flex-grow: 1; */
  gap: 5em;
  margin: 10px;
  padding: 10px;
}

.aaup-ec-member-entity {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.aaup-al-member-entity {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.aaup-at-large-members-container {
  display: flex;
  flex-direction: row;
  gap: 2em;
}

.aaup-member-display-img-container {
  display: inline-block;
  position: relative;
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 50%;
}

.aaup-member-display-img {
  width: auto;
  height: 100%;
  /* margin-left: -50px; */
}

.aaup-news-and-media {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  gap: 2em;
  margin: 20px;
  padding: 20px;
  width: 100%;
  /* border: solid; */
}

.aaup-news-article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.aaup-news-links > a {
  display: block;
  margin: 5px;
  padding: 5px;
  background-color: var(--citrine);
  text-decoration: none;
  text-align: left;
  color: #000;
  width: 100%;
}

.aaup-youtube {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aaup-youtube > .youtube.iframe {
  width: 100%;
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 200px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  font-size: 28px;
  text-decoration: underline;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: var(--moonstone);
  color: var(--citrine);
  font-weight: bold;
}

/* Style the back side */
.flip-card-back {
  background-color: var(--tomato);
  color: var(--seasalt);
  transform: rotateY(180deg);
  font-size: 18px;
  text-decoration: none;
}

.bargaining-diary-popup {
  background-color: var(--moonstone);
  width: 50%;
  height: 75%;
  padding: 30px 40px;
  position: fixed;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  border-radius: 8px;
  display: none;
  transition: ease-out 0.3s;
  background-image: url("../media/img/aaup-ou-stacked-logo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#bargaining-diary-popup-close-btn {
  display: block;
  margin: 0 0 20px auto;
  background-color: transparent;
  font-size: 30px;
  color: var(--citrine);
  border: none;
  outline: none;
  cursor: pointer;
}

.bargaining-diary-popup .bargaining-diary-popup-heading {
  text-align: center;
  font-size: 28px;
  font-weight: bolder;
}

.bargaining-diary-popup p {
  font-size: 22px;
  text-align: justify;
  margin: 20px 0;
}

.bargaining-diary-popup a {
  display: block;
  width: 150px;
  position: relative;
  margin: auto;
  text-align: center;
  background-color: var(--tomato);
  text-decoration: none;
  padding: 5px 0;
  color: var(--citrine);
}

.section-separator {
  margin: 0 auto;
  margin-bottom: 25px;
  display: inline-block;
  width: 30%;
  border-style: ridge;
}

.aaup-news-media-parent-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.aaup-media-section-heading {
  margin: 20px;
  padding: 5px;
  font-size: 36px;
  color: var(--moonstone);
}

.aaup-upcoming-events {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.aaup-events-section-heading {
  margin: 20px;
  padding: 5px;
  font-size: 36px;
  color: var(--tomato);
}

.aaup-upcoming-events-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  gap: 2em;
  margin: 20px;
  padding: 20px;
  width: 100%;
}

.event-entity {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  /* max-width: 300px; */
  margin: auto;
  text-align: center;
  width: 100%;
}

.event-entity ul li {
  font-size: 18px;
}

/* **************************************************************************** */
/* STYLING FOR BARGAINING DIARY PAGE */
/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.container::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid #ff9f55;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -16px;
}

/* The actual content */
.bd-content {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
  /* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }

  /* Full-width containers */
  .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  /* Make sure that all arrows are pointing leftwards */
  .container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .left::after,
  .right::after {
    left: 15px;
  }

  /* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }
}

/* styles for chapter bylaws page */
.chapter-bylaws-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
  padding: 15px;
}
.chapter-bylaws-heading {
  color: var(--tomato);
  font-size: 44px;
}
.chapter-bylaws-last-revised {
  color: var(--moonstone);
  font-style: italic;
  font-size: 18px;
}

.chapter-bylaws-entity {
  margin: 10px;
  padding: 5px;
  width: 100%;
}

.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  font-weight: bold;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

/* agreements page styling */
.agreement-page-container,
.previous-agreements {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.agreement-page-heading {
  color: var(--tomato);
  font-size: 44px;
}

.previous-agreements-entities {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.previous-agreements-entities a {
  margin: 0 0 0 20px;
  padding: 15px;
  background-color: var(--citrine);
}

/* .agreement-page-container iframe {
  width: 100%;
  height: 100%;
} */

/* Styling for advisory forum */
.advisory-forum-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.advisory-forum-heading {
  color: var(--tomato);
  font-size: 44px;
}

.scheduled-meetings p {
  text-align: center;
  padding: 10px;
  font-weight: bold;
}

.scheduled-meetings-times {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  padding: 10px;
  gap: 3em;
  width: 100%;
}

.scheduled-meetings-times p {
  padding: 10px;
  background-color: var(--moonstone);
}

.advisory-forum-member-table {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  border: 3px solid black;
}
.advisory-forum-member-table thead th:nth-child(1) {
  width: 30%;
}

.advisory-forum-member-table thead th:nth-child(2) {
  width: 30%;
}

.advisory-forum-member-table th,
td {
  padding: 20px;
}

.advisory-forum-member-table th {
  letter-spacing: 2px;
}

.advisory-forum-member-table td {
  letter-spacing: 1px;
}

.advisory-forum-member-table tbody td {
  text-align: center;
}

.advisory-forum-member-table thead th {
  background-color: var(--tomato);
}

.advisory-forum-member-table tr:nth-child(odd) {
  background-color: var(--seasalt);
}

.advisory-forum-member-table tr:nth-child(even) {
  background-color: lightgray;
}

.multiple-table-data span {
  display: block;
}
